.info {
  background-color: #f0523f;
  color: #fff;
  font-size: 1.2em;
  padding: 2em 0;
}

.info a {
  color: #fff;
}

.info .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.info .branding .logo {
  background-image: url("/images/white-logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 50px;
  margin-right: 1em;
  width: 50px;
}

.info .branding .company {
  font-size: 1.7em;
}

.info .blurb {
  line-height: 1.8;
  margin-bottom: 1em;
}

.info .links {
  line-height: 1.8;
}

.info .links .header {
  color: #ba210f;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

